.principal{
 display: flex;
 align-items: center;
 justify-content: center;
 height:70vh;
 gap:1%;

}

h1{
  color: black;
}

body{
  background-image: url('https://img.freepik.com/vetores-gratis/fundo-colorido-abstrato-gradiente_23-2149120346.jpg');
  background-size: cover;
}

#lkk button{
  width: 15%;
  height: 15%;
  border: none;
  
  
  
}

.titulo{
  width: 23%;
  background-color: #0dcaf0;
  border-radius: 15px;
  margin: 0 auto;
  border: none;
}


@media (max-width: 768px) {
  .ps {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .principal {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
   
  h2{
    margin-left: 1em;
    font-size: 10px;
  }

}

@media (max-width: 576px) {
  h1 {
    font-size: 24px;
  }
  h2 {
    font-size: 18px;
  }
}






  


